{% extends "./base.html" %}

{% block title %} Sobre mí {% endblock %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre mí</title>
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-info">
        <a class="navbar-brand" href="base.html">Universidad</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">about</a>
                </li>
            </ul>
        </div>
    </nav>
 
    
    Me gusta aprender siempre cosas nuevas, asumir retos constantes, exigirme al día a día para ser mejor en lo que hago, siendo mi propia competencia.
    Me frustro también si no logro hacer algo, pero es parte del proceso y lo asumo con responsabilidad y humildad.

    Estudié Administración de empresas, egresado de la Universidad Alejandro de Humboldt año 2018. Llegue a este maravilloso país el mismo año y hasta 
    la fecha tengo casi 6 años haciendo futuro en estas tierras.
</body>
</html>