{% extends 'templates/base.html' %}

{% block titulo %}
    Login
{% endblock titulo %}


{% block contenido %}
    <div class="container">
        <h1 class="mt-4">Login</h1>
    </div>

    <form action="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="hidden" name="next" value="{% url 'Academico:home' %}">


        <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
        <a href="{% url 'Academico:home' %}" class="btn btn-secondary">Cancelar</a>
    </form>

    </form>


{% endblock contenido %}